@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'),
  url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2)
  format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'),
    url(http://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2)
    format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
    url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2)
    format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
    U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #f5f6fa;
    font-family: 'Raleway';
}

.title {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s; /*Safari*/
    padding-top: 25px;
}

#navbar {
    border: 1px solid #e7e7e7;
    border-top: 0 solid #000000;
    background-color: #f3f3f3;
    overflow: hidden;
    width: 100%;
    top: 0;
}

#navbar img{
    float:left;
    padding-top:1px;
    padding-right:10px;
}

#navbar a {
    float: left;
    color: #666666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #D3D3D3 ;
}

#navbar .active,#navbar .active:hover {
    background-color: #008CBA;
    color: white;
}

tr img{
    padding-top:5px;
}

footer {
    border: 1px solid #e7e7e7;
    border-bottom: 0 solid #000000;
    background-color: #f3f3f3;
    overflow: hidden;
    width: 100%;
    padding-top:1em;
    bottom: 0;
}

#about{
    border-top: 1px solid #E1E1E1;
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s; /*Safari*/
    padding-top:10px;
}

#about img{
    height: 128px;
    width: 128px;
}

.roundedImage{
    overflow:hidden;
    border-radius:50%;
}

#about p {
    text-align: justify;
}
